# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\maxde\Documents\Studium IMI\2.Semster\Info2\Labs\11_RecursibeTriangles\WORK\Git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
